body,
html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0f0e17;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #868686;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 4px solid black;
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 18px;
  margin-top: 15px;
  background-color: #ff8906;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}

button:hover {
  background-color: #59132b;
}

.hidden {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#timer-display {
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
}

#training-results {
  margin-top: 20px;
}

/* Mantén el resto del CSS anterior */
#training-results {
  margin-top: 20px;
}

.training-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.training-table th,
.training-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.training-table th {
  background-color: #f2f2f2;
}

.behavior-symbol {
  font-size: 24px;
  display: inline-block;
  margin-right: 5px;
}

.behavior-time {
  font-size: 12px;
  color: #555;
}
